<html>
    <head>

        <body>
            <h1>Log Book </h1>
            <h2> The Employee Details</h2>
            <h3>Enter the Individual Employee Details</h3>
            <div class="tenor-gif-embed" data-postid="22706808" data-share-method="host" data-aspect-ratio="0.5" data-height='50' data-width="100%"><a href="https://tenor.com/view/loading-loader-pubg-javascript-java-gif-22706808">Loading Loader GIF</a>from <a href="https://tenor.com/search/loading-gifs">Loading GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            <form> 
                <label for='first name'>First Name:</label>
                <input type='text' name='first name' , placeholder="firstname " required='required'>
                <label for='last name'>Last Name:</label>
                <input type='text' name='last name' , placeholder="lastname " required='required'>
                <label for='email id'>Email Id:</label>
                <input type='email' name='email id' , placeholder="email " required='required'>
                <label for='Contact'>Contact Number:</label>
                <input type='number' name='phone number' , placeholder="number " required='required'>
                <button type='submit'> Submit</button>
            </form>
        </body>
    </head>
</html>